<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>phuclh.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>phuclh.controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserServlet</servlet-name>
        <servlet-class>phuclh.controllers.CreateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>phuclh.controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>phuclh.controllers.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectRoomServlet</servlet-name>
        <servlet-class>phuclh.controllers.SelectRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingRoomServlet</servlet-name>
        <servlet-class>phuclh.controllers.BookingRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>phuclh.controllers.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartServlet</servlet-name>
        <servlet-class>phuclh.controllers.DeleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>phuclh.controllers.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsePromotionServlet</servlet-name>
        <servlet-class>phuclh.controllers.UsePromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>phuclh.controllers.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveHistoryServlet</servlet-name>
        <servlet-class>phuclh.controllers.RemoveHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCodeByEmailServlet</servlet-name>
        <servlet-class>phuclh.controllers.GetCodeByEmailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserServlet</servlet-name>
        <url-pattern>/CreateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectRoomServlet</servlet-name>
        <url-pattern>/SelectRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingRoomServlet</servlet-name>
        <url-pattern>/BookingRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartServlet</servlet-name>
        <url-pattern>/DeleteCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsePromotionServlet</servlet-name>
        <url-pattern>/UsePromotionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/HistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveHistoryServlet</servlet-name>
        <url-pattern>/RemoveHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCodeByEmailServlet</servlet-name>
        <url-pattern>/GetCodeByEmailServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>homepage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
